<a href="https://colab.research.google.com/github/LuciaPitarch/Colexification-Patterns/blob/main/4_Data_analysis_and_visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This codes takes the CLICS3 colexification data as base and explores the diachronical patterns of colexification in romance and polynesian languages. 

This file is both in Python and R.

# 0. LOAD LIBRARIES AND DATA

In [ ]:
#import libraries
import pandas
import numpy as np

In [ ]:
#download data
!gdown --id 1AgNMJq7hhuL2hsxrj5hGEDKfrTsNUPAF #polynesian features
!gdown --id 1xlmO2gnPnncoLjfO8-_qYm_EVAg4KSVF #romance features

Downloading...
From: https://drive.google.com/uc?id=1AgNMJq7hhuL2hsxrj5hGEDKfrTsNUPAF
To: /content/polynesian_df_features.csv
100% 317k/317k [00:00<00:00, 46.3MB/s]
Downloading...
From: https://drive.google.com/uc?id=1xlmO2gnPnncoLjfO8-_qYm_EVAg4KSVF
To: /content/romance_df_features.csv
100% 348k/348k [00:00<00:00, 49.8MB/s]

In [ ]:
#load the data
polynesian_df = pandas.read_csv('polynesian_df_features.csv')
romance_df = pandas.read_csv('romance_df_features.csv')

In [ ]:
#merge polynesian and romance df into a single one
df = pandas.concat([polynesian_df, romance_df])

# 1. DATA OVERVIEW

In [ ]:
#data summary
print(df.count())
print(polynesian_df.groupby('maintained').size())
print(romance_df.groupby('maintained').size())
df

Unnamed: 0                3653
Form.x                    1829
clics_form                1829
Glottocode                1829
Concepticon_ID.x          1829
Concepticon_Gloss.x       3653
Family                    1829
variety                   1829
Ontological_Category.x    1829
Semantic_Field.x          1829
Form.y                    1829
Concepticon_ID.y          1829
Concepticon_Gloss.y       3653
Ontological_Category.y    1829
Semantic_Field.y          1829
pairs                     3653
maintained                1829
phonetic_pairs            1829
colexifies                3653
cosine_sim                2742
n_char                    1829
pos.x                     3387
pos.y                     3355
pos_pairs                 3120
pos_same                  3120
path_pairs                2678
wup_pairs                 2678
Semantic_pairs            3653
Ontological_pairs         3653
dtype: int64
maintained
0.0    594
1.0    286
dtype: int64
maintained
0.0    333
1.0    616
dtype: int64

      Unnamed: 0 Form.x  ... Semantic_pairs Ontological_pairs
0            187  *nuku  ...              0                 1
1            210  *refu  ...              1                 1
2            211  *lefu  ...              0                 0
3            218  *qoru  ...              1                 1
4            219  *pela  ...              0                 0
...          ...    ...  ...            ...               ...
1891         942    NaN  ...              0                 0
1892         943    NaN  ...              0                 0
1893         944    NaN  ...              0                 0
1894         945    NaN  ...              0                 0
1895         946    NaN  ...              0                 0

[3653 rows x 29 columns]

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R # to run R on colab

library(dplyr)
library(readr)
library(tidyr)

polynesian_df <- read_csv('polynesian_df_features.csv')
romance_df <- read_csv('romance_df_features.csv')
df <- merge(romance_df, polynesian_df, all.x=T, all.y=T)

#set categorical data
cat_cols <- c('maintained', 'colexifies', 'pos_pairs', 'pos_same', 
              'Semantic_pairs', 'Ontological_pairs', 'Family')
df[,cat_cols] <- lapply(df[,cat_cols], as.factor)

#data overview
print(summary(df))
str(df)

── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  X1 = col_double(),
  Concepticon_ID.x = col_double(),
  Concepticon_ID.y = col_double(),
  maintained = col_double(),
  phonetic_pairs = col_double(),
  colexifies = col_double(),
  cosine_sim = col_double(),
  n_char = col_double(),
  pos_same = col_double(),
  path_pairs = col_double(),
  wup_pairs = col_double(),
  Semantic_pairs = col_double(),
  Ontological_pairs = col_double()
)
ℹ Use `spec()` for the full column specifications.


── Column specification ────────────────────────────────────────────────────────
cols(
  .default = col_character(),
  X1 = col_double(),
  Concepticon_ID.x = col_double(),
  Concepticon_ID.y = col_double(),
  maintained = col_double(),
  phonetic_pairs = col_double(),
  colexifies = col_double(),
  cosine_sim = col_double(),
  n_char = col_double(),
  pos_same = col_double(),
  path_pairs = col_double(),
  wup_pairs = col_double(),
  Semantic_pairs = col_double(),
  Ontological_pairs = col_double()
)
ℹ Use `spec()` for the full column specifications.

       X1            Form.x           clics_form         Glottocode
 Min.   :   0.0   Length:3653        Length:3653        Length:3653
 1st Qu.: 314.0   Class :character   Class :character   Class :character
 Median : 610.0   Mode  :character   Mode  :character   Mode  :character
 Mean   : 852.9
 3rd Qu.:1074.0
 Max.   :4021.0

 Concepticon_ID.x Concepticon_Gloss.x           Family       variety
 Min.   :   2     Length:3653         Austronesian : 880   Length:3653
 1st Qu.: 702     Class :character    Indo-European: 949   Class :character
 Median :1176     Mode  :character    NA's         :1824   Mode  :character
 Mean   :1143
 3rd Qu.:1495
 Max.   :3458
 NA's   :1824
 Ontological_Category.x Semantic_Field.x      Form.y          Concepticon_ID.y
 Length:3653            Length:3653        Length:3653        Min.   :   7
 Class :character       Class :character   Class :character   1st Qu.: 711
 Mode  :character       Mode  :character   Mode  :character   Median :1235
                                                              Mean   :1214
                                                              3rd Qu.:1644
                                                              Max.   :3464
                                                              NA's   :1824
 Concepticon_Gloss.y Ontological_Category.y Semantic_Field.y
 Length:3653         Length:3653            Length:3653
 Class :character    Class :character       Class :character
 Mode  :character    Mode  :character       Mode  :character




    pairs           maintained  phonetic_pairs   colexifies   cosine_sim
 Length:3653        0   : 927   Min.   : 0.000   0:1824     Min.   :-0.1398
 Class :character   1   : 902   1st Qu.: 0.000   1:1829     1st Qu.: 0.0734
 Mode  :character   NA's:1824   Median : 1.000              Median : 0.1411
                                Mean   : 1.045              Mean   : 0.2001
                                3rd Qu.: 1.000              3rd Qu.: 0.3148
                                Max.   :10.000              Max.   : 0.8610
                                NA's   :1824                NA's   :911
     n_char          pos.x              pos.y                pos_pairs
 Min.   : 1.000   Length:3653        Length:3653        ('n', 'n'):2436
 1st Qu.: 4.000   Class :character   Class :character   ('v', 'n'): 200
 Median : 5.000   Mode  :character   Mode  :character   ('n', 'v'): 157
 Mean   : 4.833                                         ('n', 'a'):  92
 3rd Qu.: 6.000                                         ('a', 'n'):  66
 Max.   :14.000                                         (Other)   : 169
 NA's   :1824                                           NA's      : 533
 pos_same      path_pairs       wup_pairs      Semantic_pairs Ontological_pairs
 0   : 653   Min.   :0.0410   Min.   :0.0787   0:2834         0:2345
 1   :2467   1st Qu.:0.0712   1st Qu.:0.1891   1: 819         1:1308
 NA's: 533   Median :0.0833   Median :0.2555
             Mean   :0.1051   Mean   :0.3044
             3rd Qu.:0.1111   3rd Qu.:0.3681
             Max.   :1.0000   Max.   :1.0000
             NA's   :975      NA's   :975
'data.frame':	3653 obs. of  29 variables:
 $ X1                    : num  0 0 1 1 2 2 2 3 3 3 ...
 $ Form.x                : chr  NA NA NA NA ...
 $ clics_form            : chr  NA NA NA NA ...
 $ Glottocode            : chr  NA NA NA NA ...
 $ Concepticon_ID.x      : num  NA NA NA NA 674 NA NA 674 NA NA ...
 $ Concepticon_Gloss.x   : chr  "calf" "look for" "person" "testicles" ...
 $ Family                : Factor w/ 2 levels "Austronesian",..: NA NA NA NA 2 NA NA 2 NA NA ...
 $ variety               : chr  NA NA NA NA ...
 $ Ontological_Category.x: chr  NA NA NA NA ...
 $ Semantic_Field.x      : chr  NA NA NA NA ...
 $ Form.y                : chr  NA NA NA NA ...
 $ Concepticon_ID.y      : num  NA NA NA NA 1394 ...
 $ Concepticon_Gloss.y   : chr  "navel" "bay" "betray" "see" ...
 $ Ontological_Category.y: chr  NA NA NA NA ...
 $ Semantic_Field.y      : chr  NA NA NA NA ...
 $ pairs                 : chr  "('calf', 'navel')" "('look for', 'bay')" "('person', 'betray')" "('testicles', 'see')" ...
 $ maintained            : Factor w/ 2 levels "0","1": NA NA NA NA 1 NA NA 1 NA NA ...
 $ phonetic_pairs        : num  NA NA NA NA 1 NA NA 1 NA NA ...
 $ colexifies            : Factor w/ 2 levels "0","1": 1 1 1 1 2 1 1 2 1 1 ...
 $ cosine_sim            : num  0.2298 NA 0.0902 NA 0.2482 ...
 $ n_char                : num  NA NA NA NA 2 NA NA 2 NA NA ...
 $ pos.x                 : chr  "n" NA "n" "n" ...
 $ pos.y                 : chr  "n" "n" "v" "n" ...
 $ pos_pairs             : Factor w/ 21 levels "('a', 'a')","('a', 'n')",..: 6 NA 9 6 6 6 9 6 6 6 ...
 $ pos_same              : Factor w/ 2 levels "0","1": 2 NA 1 2 2 2 1 2 2 2 ...
 $ path_pairs            : num  0.0871 NA NA 0.0667 0.0757 ...
 $ wup_pairs             : num  0.364 NA NA 0.222 0.289 ...
 $ Semantic_pairs        : Factor w/ 2 levels "0","1": 1 1 1 1 2 1 1 2 1 1 ...
 $ Ontological_pairs     : Factor w/ 2 levels "0","1": 1 1 1 1 2 1 1 2 1 1 ...

# 2. QUANTITATIVE ANALYSIS: LOGISTIC REGRESSION MODELS

 2.1. Which features predict diachronic patterns of colexification (which colexifications are loss/maintained)? 

To run this model we select just the attested colexifications as data. Then we run different logistic regression models to analyse which features better predict the loss and maintanace of colexifications.

In [ ]:
%%R
#logreg model
#model1:all features, loss/maintained

m1 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ phonetic_pairs+cosine_sim +n_char+pos_same+path_pairs+wup_pairs+ 
          Semantic_pairs+Ontological_pairs,
          family='binomial')
summary(m1)
#models for individual features, loss/maintained

m2 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ phonetic_pairs, 
          family='binomial')


m3 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ cosine_sim, 
          family='binomial')

m4 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ n_char, 
          family='binomial')

m5 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ pos_same, 
          family='binomial')

m6 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ path_pairs, 
          family='binomial')

m7 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ wup_pairs, 
          family='binomial')

m8 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ Semantic_pairs, 
          family='binomial')

m9 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ Ontological_pairs, 
          family='binomial')

#best model(in terms of AIC)

m10 <- glm(formula = maintained ~ phonetic_pairs + cosine_sim + path_pairs + 
    wup_pairs + Semantic_pairs + Ontological_pairs, 
    family = "binomial", 
    data = df[df$colexifies == 1, ])

print('ALL FEATURES')
print(summary(m1))
print('INDIVIDUAL MODELS')
print(summary(m2))
print(summary(m3))
print(summary(m4))
print(summary(m5))
print(summary(m6))
print(summary(m7))
print(summary(m8))
print(summary(m9))
print('BEST MODEL')
print(summary(m10))

Now for the best model, train and test it 10 times to check for accuracy and robustness of the model

In [ ]:
#multiple models at once
import random
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
#set random seed
random.seed(10)
#fit the model with the wanted features
model = LogisticRegression()
supp_df = df.dropna()
x = supp_df[['phonetic_pairs' , 'cosine_sim' , 'path_pairs' , 
    'wup_pairs' , 'Semantic_pairs' , 'Ontological_pairs']]
y = supp_df['maintained']
model.fit(x, y)
supp_df['log_reg_prediction'] = model.predict(x)
#now lets set several train-test sets (in this case 10) to acquire a more robust model
#this way we ensure the result is not just because of the data set in the train or test model
accuracies = []
for i in range(10):
  data_train, data_test = sklearn.model_selection.train_test_split(supp_df) # defalut is 20/80
  x_train = data_train[['phonetic_pairs' , 'cosine_sim' , 'path_pairs' , 
    'wup_pairs' , 'Semantic_pairs' , 'Ontological_pairs']]
  y_train = data_train['maintained']
  x_test = data_test[['phonetic_pairs' , 'cosine_sim' , 'path_pairs' , 
    'wup_pairs' , 'Semantic_pairs' , 'Ontological_pairs']]
  y_test = data_test['maintained']
  accuracies.append(model.score(x_test, y_test))
print(accuracies)
#mean of all the accuracies
print(sum(accuracies)/10)

[0.780327868852459, 0.8, 0.7901639344262295, 0.8262295081967214, 0.780327868852459, 0.8229508196721311, 0.8360655737704918, 0.8, 0.8163934426229508, 0.7967213114754098]
0.8049180327868852

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

2.2 Check for crosslinguistic heterogeneity

In [ ]:
%%R
clm1 <- glm(data=df[df$colexifies ==1, ], 
          maintained ~ Family+phonetic_pairs+cosine_sim +n_char+pos_same+path_pairs+wup_pairs+ 
            Semantic_pairs+Ontological_pairs,
          family='binomial')
print(summary(clm1))

clm2 <- glm(data=df[df$colexifies ==1, ], 
          maintained~Family,
          family='binomial')
print(summary(clm2))

Call:
glm(formula = maintained ~ Family + phonetic_pairs + cosine_sim +
    n_char + pos_same + path_pairs + wup_pairs + Semantic_pairs +
    Ontological_pairs, family = "binomial", data = df[df$colexifies ==
    1, ])

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-3.2185  -0.6933   0.2190   0.6736   2.9576

Coefficients:
                    Estimate Std. Error z value Pr(>|z|)
(Intercept)         -1.36883    0.40343  -3.393 0.000691 ***
FamilyIndo-European  0.09884    0.17607   0.561 0.574533
phonetic_pairs      -0.74017    0.08747  -8.462  < 2e-16 ***
cosine_sim           7.03741    0.61139  11.511  < 2e-16 ***
n_char              -0.02584    0.04698  -0.550 0.582322
pos_same1            0.04699    0.32600   0.144 0.885390
path_pairs           4.63146    1.88200   2.461 0.013858 *
wup_pairs           -2.89712    0.82136  -3.527 0.000420 ***
Semantic_pairs1      0.58966    0.17649   3.341 0.000835 ***
Ontological_pairs1   0.34554    0.20422   1.692 0.090647 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 1690.3  on 1219  degrees of freedom
Residual deviance: 1102.9  on 1210  degrees of freedom
  (609 observations deleted due to missingness)
AIC: 1122.9

Number of Fisher Scoring iterations: 5


Call:
glm(formula = maintained ~ Family, family = "binomial", data = df[df$colexifies ==
    1, ])

Deviance Residuals:
    Min       1Q   Median       3Q      Max
-1.4472  -0.8866  -0.8866   0.9297   1.4993

Coefficients:
                    Estimate Std. Error z value Pr(>|z|)
(Intercept)         -0.73089    0.07197  -10.15   <2e-16 ***
FamilyIndo-European  1.34599    0.09903   13.59   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for binomial family taken to be 1)

    Null deviance: 2535.2  on 1828  degrees of freedom
Residual deviance: 2339.7  on 1827  degrees of freedom
AIC: 2343.7

Number of Fisher Scoring iterations: 4

# 3. QUALITATIVE ANALYSIS

plots for every feature with percentages comparing loss/maintained and between linguistic families to further analyse what happens to colexifications trough time

In [ ]:
%%R
#quantitative analysis
#first select just the attested colexifications and split the df into polynesian and romance
attested_colex = df[df$colexifies ==1, ]
pol_att = attested_colex[attested_colex$Family=='Indo-European',]
rom_att = attested_colex[attested_colex$Family=='Proto Polynesian',]

#turn count data into proportions for a better comparison
#change DF, var1 and var2 and title parameters to the chosen ones
counts <- table(DF$var1, DF$var2, dnn=c(var1, var2))
props <- (prop.table(counts,2))
props <- as.data.frame(props)
#plot the data
ggplot(props, aes(x=var1, y=Freq, fill=var2)) + 
  geom_col(position='dodge') +
  ggtitle('title')